.panel {
    background: #fff;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
}

.container-fluid,
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
