.panel {
    background: #fff;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 16px;
}

.container-fluid,
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.alert ul {
    margin-bottom: 0;
}

.profile-image {
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
}

.profile-image-sm {
    width: 40px;
    height: 40px;
}

.profile-image-md {
    width: 100px;
    height: 100px;
}

.profile-image-lg {
    width: 200px;
    height: 200px;
}
